/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
$font-size-base: 14px;

@import 'bootstrap';
@import 'bootstrap/theme';

body {
	padding-top: 70px;
}
table {
	margin: auto;
	width: 50%;
}
.employee-picture {
	border: 1px solid black;
	float: left;
}

@media screen and (max-width: 1024px) {

	body {
		padding-top: 20px;
		font-size: 50px;
	}

	p {
		margin-top: 20px;
		font-size: 4em;
	}

	table, th, td, tr {
		border: 2px solid black;
	}

	th, .index_title, nav {
		display: none;
	}

	.employee-picture {
		width: 50px;
		height: auto;
		float: none;
		margin: auto;
	}

	a {
		margin: auto;
		width: 90%;
		height: auto;
	}

	.show_p {
		td {
			font-size: .6em;
		}
	}

	.button-font {
		font-size: 1em;
	}
}